/* Hoem.css */
.container{
    height: 100%;display: flex;justify-content: center;
}
.loader{
    width: 100vh; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}
.movies{
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-gap: 100px;
    padding: 50px;
    width: 80%;
    padding-top: 70px;
}

@media screen and (max-width:767px) { /* Mobile 크기 0~767 */
    .movies{
        grid-template-columns: 1fr;
        width: 100%;
    }
}